$certiauto_red: #d22030;
$certiauto_gray: #231f20;
$certiauto_gray_hover: #4c4747;
$form-inputs: 'input[type="text"], input[type="password"], input[type="search"], input[type="email"], input[type="tel"], input[type="url"]';

a {
  &:hover, &:focus {
    text-decoration: none !important;
  }
}

.layout-theme {
  .navbar-header, .footer-absolute {
    display: none;
  }

  .pre-footer {
    background-color: $certiauto_gray;
    .container {
      .row {
        .col-md-4 {
          .pre-fot-box {
            border-left: 2px solid $certiauto_red;
            &:hover, &:focus {
              .btn-icon {
                i {
                  color: #ffffff;
                }
              }
            }
            .pre-fot-content {
              span {
                visibility: hidden;
              }
            }
            .btn-icon {
              background-color: $certiauto_red;
            }
          }
          &:last-child {
            .pre-fot-content {
              margin-left: 96px;
            }
          }
        }
      }
    }
  }
  .footer {
    background-color: $certiauto_gray_hover;
    .wpb_column {
      .wpb_wrapper {
        ul {
          &.social-links {
            li {
              display: inline-block;
              margin-left: 10px;
              i {
                font-size: 30px;
              }
              &:before {
                content: none;
              }
            }
          }
        }
      }
    }
  }
}

.home-section {
  .vc_column_container {
    .video-box {
      background-color: $certiauto_gray;
    }
  }
  .contact {
    .vc_column_container {
      .full-width-box {
        background-color: $certiauto_gray;
        .wpcf7-form {
          #{$form-inputs}, textarea {
            color: #b3b3b3;
            background-color: #ffffff;
            border: 0;
          }
          .btn-submit {
            p {
              display: none;
            }
          }
        }
      }
    }
  }
  .bg-slideshow-active {
    .vc_column_container {
      .wpb_wrapper {
        .featured-item-simple-icon {
          .ft-icons-simple {
            i {
              color: #ffffff !important;
              &:before {
                color: #ffffff !important;
              }
            }
          }
          .chart {
            .percent {
              color: $certiauto_red;
            }
          }
        }
      }
    }
  }
  .wpb_row {
    &.vehicles {
      .wpb_column {
        .box-icon-and-button {
          i {
            color: #ffffff !important;
            &:before {
              color: #ffffff !important;
            }
          }
          h3 {
            color: $certiauto_red;
          }
        }
        &:last-child {
          .box-icon-and-button {
            &:before {
              border-right: 1px solid #e7e7e7;
              content: "";
              display: inline-block;
              height: 100%;
              position: absolute;
              right: -35px;
              top: 0;
            }
          }
        }
      }
    }
  }
}
